
.myblock{
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: navajowhite;
    border-radius: 5px;
    text-align: center;
    border: 2px solid green;
}
.myAbout{
    display: flex;
    margin-left: 250px;
    background-color: rgb(211, 195, 211);
    width: 800px;
   
}